{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load l10n %}
{% block title %}Город{% endblock %}
{% block content %}

<div class="centered layout basic" style="zoom: 1.1">
  <div class="town-view layout basic" style="background-image:
  url({% get_static_prefix %}img/backgrounds/{{ user.fraction.slug }}.bmp);">
    {% for b in buildings %}
    {% if b.level != 0 %}
    <div class="building selectable {{ b.slug }}{{ b.get_index }}" style="background-image:
  url({% get_static_prefix %}img/buildings/{{ b.slug }}{{ b.get_index }}.png);">
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% include 'towns/includes/button-army-panel.html' %}
  {% include 'towns/includes/borders.html' %}
  {% include 'towns/includes/resourses.html' %}
</div>




{% endblock %}

