{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load l10n %}
{% block title %}Город{% endblock %}
{% block content %}

<div class="centered layout basic" style="zoom: 1.1">
  <div class="town-view layout basic" style="background-image:
  url({% get_static_prefix %}img/backgrounds/{{ user.fraction.slug }}.jpg);">
    {% for b in buildings %}
    {% if b.level != 0 %}
    <a class="layout basic" href="{{ b.get_absolute_url }}">
      <div class="building selectable {{ b.slug }}{{ b.get_index }}" style="background-image:
  url({% get_static_prefix %}img/buildings/{{ b.slug }}{{ b.get_index }}.png);">
      </div>
    </a>

    {% endif %}
    {% endfor %}
  {% include 'towns/includes/button-army-panel.html' %}
  {% include 'towns/includes/bottom-line-panel.html' %}
</div>

{% endblock %}

