{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <meta name="og:site_name" content="Might and Magic Online">
  <meta name="og:title" content="Might and Magic Online - бесплатная браузерная многопользовательская MMORPG, в жанре стратегии в реальном времени.">
  <meta property="og:image" content="https://{{ request.get_host }}{% get_static_prefix %}img/meta.jpg">
  <meta property="og:image:secure_url" content="https://{{ request.get_host }}{% get_static_prefix %}img/meta.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="200">
  <meta name="description" content="Free to play MMORPG in genre Fantasy">
  <meta name="google-site-verification" content="gtX3kCnhRZFRetA3K1sWIjIo_ikLru4tkQfeAPWUPGU" />
  {% include 'towns/includes/load_styles.html' %}
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>
<body class="{% with request.resolver_match.view_name as view_name %}{% if view_name != 'users:login' and view_name != 'users:signup' %}town{% endif %}{% endwith %}">

<main>
  {% block content %}
  {% endblock %}
</main>

</body>
</html>