{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load l10n %}
{% block title %}Город{% endblock %}
{% block content %}


<div class="centered layout basic" style="zoom: 1.1">
  <div class="about-body layout basic">
    <div class="about-text">
      <a class="black-links" href="{% if user.is_authenticated %}{% url 'towns:index' %}
      {% else %}{% url 'users:login' %}{% endif %}">
        На главную
      </a>
      <h5>История изменений</h5>
      <div class="about-history scroll-block">
        <table>
          <tr>
            <th class="version-cell">v.0.5.1</th>
            <td>
              Исправлены - стоимость зданий, размеры хранилищ;
            </td>
          </tr>
          <tr>
            <th class="version-cell">v.0.5.0</th>
            <td>
              Добавлена возможность обмена ресурсов;<br>
              Окно обмена доступно после постройки рынка (по клику на иконку здания рынка).<br>
            </td>
          </tr>
          <tr>
            <th class="version-cell">v.0.4.0</th>
            <td>
              Теперь при увеличении уровня административного здания, увеличивается поступление золота;<br>
              Теперь при увеличении уровня хранилища, увеличивается допустимое количество хранимых ресурсов.<br>
            </td>
          </tr>
          <tr>
            <th class="version-cell">v.0.3.0</th>
            <td>
              Теперь отображается количество добываемых ресурсов;<br>
              Количество хранимых ресурсов ограничено размером хранилища;<br>
              Добавлена страница о проекте.
            </td>
          </tr>
          <tr>
            <th class="version-cell">v.0.2.0</th>
            <td>
              Добавлена новая фракция Инферно.
            </td>
          </tr>
          <tr>
            <th class="version-cell">v.0.1.0</th>
            <td>
              Добавлена возможность постройки зданий.
            </td>
          </tr>
        </table>
      </div>
      <b>Автор:</b>
      <a class="black-links" href="https://github.com/KuzenkovAG" target="_blank">
        Алексей Кузенков
      </a><br>

    </div>

  </div>
</div>


{% endblock %}

