{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
{% load user_filters %}
<div class="container d-flex justify-content-center">
  <div align="center">
    <h4>Смена пароля</h4>
    <form method="post"
          {% if action_url %}
          action="{% url action_url %}"
          {% endif %}
          enctype="multipart/form-data"
    >
      <table cellspacing="0" style="padding-top: 5px">
        {% csrf_token %}
        {% for field in form %}
        <tr>

          <th width="150px">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </th>
          <td>
            {{ field|addclass:'form-login' }}
          </td>
        </tr>
        {% endfor %}
      </table>
      <div style="width: 310px; padding-top:5px">
        <a class="btn-register" href="{% url 'users:registration' %}" title="Отмена">Отмена</a>
        <button type="submit" class="btn-enter">
          Отправить
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}