<div class="border-cross" style="z-index: 100;"></div>

<div class="buttons-set layout basic" style="top: 20px; left: 20px;">
  <div class="empty-button selectable" style="left: 0px;">
    <a href="{% url 'towns:index' %}">
      <div class="button-icon b-town" title="В город"></div>
    </a>
  </div>
  <div class="empty-button selectable" style="left: 50px;">
    <a href="{% url 'towns:build' %}">
      <div class="button-icon b-build" title="Постройки"></div>
    </a>
  </div>
<!--  <div class="empty-button selectable" style="left: 100px;">-->
<!--    <a href="{% url 'towns:research' %}">-->
<!--      <div class="button-icon b-search" title="Исследования"></div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="empty-button selectable" style="left: 150px;">-->
<!--    <a href="{% url 'towns:army' %}">-->
<!--      <div class="button-icon b-army" title="Тренировка армии"></div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="empty-button selectable" style="left: 200px;">-->
<!--    <div class="button-icon b-map" title="Карта"></div>-->
<!--  </div>-->
<!--  <div class="empty-button selectable" style="left: 250px;">-->
<!--    <div class="button-icon b-campaign" title="Походы"></div>-->
<!--  </div>-->
  <div class="empty-button selectable" style="left: 570px;">
    <a href="{% url 'stats:index' %}">
      <div class="button-icon b-stats" title="Статистика"></div>
    </a>
  </div>
<!--  <div class="empty-button selectable" style="left: 620px;">-->
<!--    <div class="button-icon b-setting" title="Настройки"></div>-->
<!--  </div>-->
<!--  <div class="empty-button selectable" style="left: 670px;">-->
<!--    <div class="button-icon b-message" title="Сообщения"></div>-->
<!--  </div>-->
  <div class="empty-button selectable" style="left: 720px;">
    <a href="{% url 'users:logout' %}">
      <div class="button-icon b-logout" title="Выход"></div>
    </a>
  </div>
</div>