/*----------------------------*\
	Header
\*----------------------------*/


/*----------------------------*\
	        Body
\*----------------------------*/



html {
  height: 100%;
}

body {
  background-color: #131511;
  min-height: 100%;
  padding: 0;
}

.border-top {
  border-top: 0px solid #dee2e6!important;
}

/*----------------------------*\
	     Login-page
\*----------------------------*/

.game-logo {
    background-image: url('../img/index.png');
    padding-top: 20px;
    width: 1080px;
    height: 1080px;
}

.login-box {
    width: 1080px;
    height: 232px;
    margin-top: 670px;
    margin-bottom: 60px;
    padding-left: 6px;
    font-size: 16px;
    font-family: Bahnschrift Light;
}

.login-box a {
  color: #000;
}

.login-box a:hover {
  color: #fff;
  transition: all 0.6s ease;
}

.fraction-box {
  display:inline-block;
}

#fraction-header {
  font-weight: 700;
}

#fraction-bonus {
  color: #319324;
  font-weight: 700;
}

/*----------------------------*\
	     Signup
\*----------------------------*/

.signup-background {
    background-image: url('../img/old-paper2.jpg');
    padding-top: 1px;
    width: 980px;
    height: 686px;
}

.sign-box {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 0px;
    font-size: 16px;
    font-family: Bahnschrift Light;
}

.selector {
    background-image: url('../img/lines/left.png');
    width: 150px;
    height: 71px;
    top: 50px;
}

/*----------------------------*\
	        buttons
\*----------------------------*/
.btn-primary {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 30px;
  color: #000000;
  background: #fcf8006e;
  border-radius: 26px;
  border: 4px solid #131511a6;
}
.btn-primary:hover {
  background: #131511;
  color: #ffffff;
  border: 4px solid #131511;
  transition: all 0.6s ease;
}

/* Стили кнопки */
.btn-secondary {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 30px;
  color: #000000;
  background: #b0b08b8c;
  border-radius: 26px;
  border: 4px solid #131511a6;
}

.btn-secondary:hover {
  background: #131511;
  color: #ffffff;
  border: 4px solid #131511;
  transition: all 0.6s ease;
}


.btn-selection {
  position: relative;
  cursor: pointer;
  top: 5px;
  display: inline-block;
  font-size:43px;
  color:#eaff00;
  width: 50px;
}

.btn-selection:hover {
  color:#ffe600;
  transition: all 0.4s ease;
}

/*----------------------------*\
	     Forms
\*----------------------------*/
.form-login {
  width: 300px;
}
