/*----------------------------*\
	Header
\*----------------------------*/


/*----------------------------*\
	        Body
\*----------------------------*/

html {
  height: 100%;
}

body {
  background-color: #131511;
  min-height: 100%;
  padding: 0;
}

body.town {
  background-image: url('../img/stars_borderless.png');
  min-height: 100%;
  padding: 0;
}

.border-top {
  border-top: 0px solid #dee2e6!important;
}

/*----------------------------*\
	     town-page
\*----------------------------*/

.layout.basic>* {
  position: absolute;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -400px;
}

.town-view {
    background-image: url('../img/backgrounds/castle.bmp');
    width: 800px;
    height: 324px;
    top: 5px;
}

.button-panel {
    background-image: url('../img/background.png');
    width: 800px;
    height: 210px;
    top: 343px;
}

.border-town {
    background-image: url('../img/panel/borrder.png');
    width: 800px;
    height: 580px;
}

.empty-button {
    background-image: url('../img/panel/empty-button.png');
    width: 40px;
    height: 40px;
}

.empty-army {
    background-image: url('../img/panel/empty-army.png');
    width: 73px;
    height: 87px;
}

.empty-hero {
    background-image: url('../img/panel/empty-hero.png');
    width: 61px;
    height: 67px;
}

/*----------------------------*\
	     Login-page
\*----------------------------*/

.game-logo {
    background-image: url('../img/index.png');
    padding-top: 20px;
    width: 1080px;
    height: 1080px;
}

.login-box {
    width: 1080px;
    height: 232px;
    margin-top: 670px;
    margin-bottom: 60px;
    padding-left: 6px;
    font-size: 16px;
    font-family: Bahnschrift Light;
}

.login-box a {
  color: #000;
}

.login-box a:hover {
  color: #fff;
  transition: all 0.6s ease;
}

.fraction-box {
  display:inline-block;
}

#fraction-header {
  font-weight: 700;
}

#fraction-bonus {
  color: #319324;
  font-weight: 700;
}

/*----------------------------*\
	     Resources panel
\*----------------------------*/
.resources-gold {
  background-image: url('../img/panel/gold.png');
  width: 18px;
  height: 17px;
}

.resources-wood {
  background-image: url('../img/panel/wood.png');
  width: 16px;
  height: 18px;
}

.resources-stone {
  background-image: url('../img/panel/stone.png');
  width: 18px;
  height: 17px;
}

.resources-text {
  left: 30px;
  font-size: 14px;
  color: #32f31b;
}

/*----------------------------*\
	     Signup
\*----------------------------*/

.signup-background {
    background-image: url('../img/old-paper2.jpg');
    padding-top: 1px;
    width: 980px;
    height: 686px;
}

.sign-box {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 0px;
    font-size: 16px;
    font-family: Bahnschrift Light;
}

.selector {
    background-image: url('../img/lines/left.png');
    width: 150px;
    height: 71px;
    top: 50px;
}

.signup-errors {
  color: #fff;
}

/*----------------------------*\
	        buttons
\*----------------------------*/
.btn-primary {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 30px;
  color: #000000;
  background: #fcf8006e;
  border-radius: 26px;
  border: 4px solid #131511a6;
}
.btn-primary:hover {
  background: #131511;
  color: #ffffff;
  border: 4px solid #131511;
  transition: all 0.6s ease;
}

/* Стили кнопки */
.btn-secondary {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 30px;
  color: #000000;
  background: #b0b08b8c;
  border-radius: 26px;
  border: 4px solid #131511a6;
}

.btn-secondary:hover {
  background: #131511;
  color: #ffffff;
  border: 4px solid #131511;
  transition: all 0.6s ease;
}


.btn-selection {
  position: relative;
  cursor: pointer;
  top: 5px;
  display: inline-block;
  font-size:43px;
  color:#eaff00;
  width: 50px;
}

.btn-selection:hover {
  color:#ffe600;
  transition: all 0.4s ease;
}

/*----------------------------*\
	     Forms
\*----------------------------*/
.form-login {
  width: 300px;
}
